* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    max-width: 980px;
    margin: 0 auto;
}

.section-flex {
    display: flex;
    justify-content: center;
}

.margin-b-t {
    margin: 10px 0 10px 0;
}

.border-div {
    border: 1.2px dashed black;
}

.padding-div-t-b {
    padding: 30px 0 30px 0;
}

/* start NAV */
nav {
    background-color: #add8e6;
    padding: 10px 0 10px 0;
}

.nav-section {
    background-color: #daa520;
    display: flex;
    align-items: center;
}

.nav-section ul {
    list-style: none;
    text-align: center;    
}

.nav-section li {
    padding: 0px 5px 0px 5px;
    display: inline-block;
}

.nav-link {
    flex-grow: 2;
}

.nav-section div:first-child, .nav-section div:last-child {
    min-width: 200px;
    padding: 0px 8px 0px 8px;
}

.nav-section div:last-child p {
    text-align: right;
}
/* end NAV */

/* start HEADER */
header {
    background-color: #00008b;
}

.header-section {
    background-color: #ee82ee;
    min-height: 300px;
    border: 1.2px dashed black;
    border-radius: 5px;
}

.header-centered {
    max-width: 700px;
    margin: 0 auto;
}
/* end HEADER */

/* start MAIN */
.div-blue {
    background-color: #1e90ff;
    min-height: 350px;
    flex-grow: 2;
}

.div-pink {
    background-color: #ffc0cb;
    min-height: 350px;
    flex-grow: 1;
}

.div-green {
    background-color: #228b22;
    min-height: 650px;
    width: 100%;
}

.background-grey {
    background-color: #d3d3d3;
}
/* end MAIN */

/* start FOOTER */
.footer-padding {
    padding: 5px 0 20px 0;
}

.footer-border {
    border-bottom: 1.2px solid #525557;
}

.div-coral {
    background-color: #f08080;
    min-height: 400px;
    flex-grow: 1;
}

.div-lightgreen {
    background-color: #20b2aa;
    min-height: 400px;
    border: 1.2px dashed #ffffff;
    flex-grow: 2;
}

.footer-div-grow {
    flex-grow: 2;

}

.div-lightblue {
    background-color: #7fffd4;
}

.background-black {
    background-color: #23272a;
}


/* end FOOTER */